<% @songs.each do |song|%>
    <table>
        <tr><%= song.title%></tr><br>
        <tr><%= song.release_year%></tr><br>
        <tr><%= song.released%></tr><br>
        <tr><%= song.genre%></tr><br>
        <tr><%= song.artist_name%></tr><br>
    </table>
<%end%>
